/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(165, 170, 252);
    background: radial-gradient(
    circle,
    rgba(60, 95, 252, 0.633) 0%,
    rgba(43, 67, 146, 0.841) 35%,
    rgb(44, 47, 255) 100%
  );
}

.weather {
    display: flex; 
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
  }

  #location {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
  }
  .desc {
    font-size: 1.25rem;
    text-transform: capitalize;
  }

  .circle {
    background-color: black;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin: 0 15px;
  }

.city-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 15%;
  border: 2px solid black;
  margin: 10px;
  border-radius: 5px;
}

.city-search { 
  margin: 7px;
}

.city-display {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 30%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
}

.city-text {
  padding: 2px;
}

#city-output {
  padding: 5px 0;
  text-align: center;
  background: #0548b5;
  color: white;
  width: 100%;
  height: 40px;
}
#city-output span {
  color: red;
}

@media (max-width: 400px) {
  .city-box{
    width: 80%;
  }
  .city-display {
    height: 30vh;
    width: 80%;
  }
}