/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    background: #b6b6b6;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr 6fr;
    height: 90vh;
}

.current-display {
  box-shadow: 2px 2px 6px 1px rgb(0 0 0 / 15%), -2px -2px 6px 1px rgb(0 0 0 / 15%);
    border-radius: 20px;
    background: #fcfcfc;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  grid-row: 1 / 5;
}

.weather {
    display: flex; 
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
  }

  #location {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 15px;
  }
  .desc {
    font-size: 1.25rem;
    text-transform: capitalize;
  }

  .circle {
    background-color: black;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin: 0 15px;
  }

.city-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 25%;
  box-shadow: 2px 2px 6px 1px rgb(0 0 0 / 15%), -2px -2px 6px 1px rgb(0 0 0 / 15%);
    border-radius: 20px;
    background: #fcfcfc;
}

.city-search { 
  margin: 7px;
}

.city-display {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 10px;
  background: #fcfcfc;
  grid-row: 1 / 5;
  box-shadow: 2px 2px 6px 1px rgb(0 0 0 / 15%), -2px -2px 6px 1px rgb(0 0 0 / 15%);
    border-radius: 20px;
    background: #fcfcfc;
}

.city-text {
  padding: 2px;
}

.city-bold {
  padding: 5px 0;
  text-align: center;
  background: #0548b5;
  color: white;
  width: 100%;
  height: 40px;
  border-radius: 20px 20px 0px 0px;
}
.city-bold span {
  color: red;
}

.city-box-header {
  font-size: 1rem;
}

.dash {
  display: flex;
  justify-self: center;
  align-self: center;
}

#forecast-display .forecast-temp {
  padding-top: 15px;
}

.title-div {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

@media (max-width: 400px) {
  .city-box{
    width: 80%;
  }
  .city-display {
    height: 30vh;
    width: 80%;
  }
}

@media (max-width: 900px) {
  .city-box{
    width: 80%;
  }
  .city-display {
    height: 30vh;
    width: 80%;
  }
}